animelyrics==0.1.0
bugsnag~=4.7.1
celery~=5.4.0
Django~=5.1.3
django-google-cloud-tasks~=2.17.0
django-redis~=5.4.0
google-cloud-logging
first==2.0.2
redis~=5.2.0
requests~=2.32.3
uWSGI~=2.0.28

# animethemes-dl~=2.2.0
git+https://github.com/przemub/animethemes-dl@quiz