[uwsgi]
strict=true
chdir=/usr/src/app
module=anime_quiz.wsgi:application
master=True
enable-threads=True
single-interpreter=True
die-on-term=true
need-app=true
processes=128
cheaper=4
cheaper-initial=8
cheaper-overload=1
cheaper-step=16
cheaper-algo=busyness
pidfile=/tmp/anime_quiz-master.pid
vacuum=True
max-requests=5000
socket=:12345
http=:8009
static-map = /static=/usr/src/app/static
