{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'quiz/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'quiz/main.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2">
            Settings

            <form id="settings">
            <label for="types">Types:</label>
            <div class="form-group" id="types">

                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="type-openings" name="t-op" {% if openings %}checked{% endif %}>
                        <label class="form-check-label" for="type-openings">Openings</label>
                        </div>

                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="type-endings" name="t-ed" {% if endings %}checked{% endif %}>
                        <label class="form-check-label" for="type-endings">Endings</label>
                        </div>

            </div>

            <label for="lists">Lists:</label>
            <div class="form-group" id="lists">
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="list-watched" name="l-wd" checked>
                        <label class="form-check-label" for="list-watched">Watched</label>
                </div>
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="list-ptw" name="l-ptw" checked>
                        <label class="form-check-label" for="list-ptw">Plan to watch</label>
                </div>
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="list-watching" name="l-wg" checked>
                        <label class="form-check-label" for="list-watching">Watching</label>
                </div>
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="list-on-hodl" name="l-oh" checked>
                        <label class="form-check-label" for="list-on-hodl">On hold</label>
                </div>
                <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="list-dropped" name="l-dp" checked>
                        <label class="form-check-label" for="list-dropped">Dropped</label>
                </div>
            </div>

             <div class="form-group">
               <label for="user">Name:</label>
                 {% for user in users %}
                     <div class="input-group">
                        <input type="text" class="form-control user-field" id="user" name="user" value="{{ user }}" required>
                        <button class="btn" type="button"
                            onclick="removeUser(this)">X</button>
                     </div>
                 {% endfor %}
                <button id="addUserBtn" class="btn" type="button" onclick="addUser()">+</button>
             </div>

                 <button class="btn" type="submit">Play!</button>
            </form>
        </div>

        <div class="col-8 text-center">
            <video id="player" width="1000 " height="600" autoplay>
                <source src="{{ theme.url }}" type="video/webm">
            </video>

            <div id="info">
                <span id="count">Loading…</span>
                <div id="details">
                    {{ theme.metadata.album }} {{ theme.metadata.themetype }}<br>{{ theme.metadata.title }}<br>
                    {{ artists }}<br>
                    <button onclick='location.reload()'>Next</button><br>
                </div>
            </div>
        </div>

        <div class="col">
            Results
        </div>
    </div>
</div>
</body>
</html>