{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'quiz/favicon.ico' %}"/>


    <meta charset="UTF-8">
    <title>quiz.moe</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'quiz/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'quiz/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand ms-4" href="#">Anime Themes Quiz</a>

    {% if alert %}
    <div class="alert alert-primary">
        {{ alert }}
    </div>
    {% endif %}

    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a href="#" class="nav-link"
           data-name="quiz"
           data-tld="moe"
           data-domain="quiz"
           onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">Suggestions?</a>
       </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/przemub/anime_quiz">Source code</a>
        </li>
    </ul>
</nav>

<main class="container-fluid">
    <div class="row mt-4">
        <div class="col-2 ps-4 pe-4">
            <h5>Settings</h5>

            <form id="settings">
            <div class="form-group pb-2" id="types">
                    <label for="types" class="form-label">Types:</label>

                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="type-openings" name="t-op" {% if openings %}checked{% endif %}>
                    <label class="form-check-label" for="type-openings">Openings</label>
                    </div>

                    <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="type-endings" name="t-ed" {% if endings %}checked{% endif %}>
                    <label class="form-check-label" for="type-endings">Endings</label>
                    </div>
            </div>

            <div class="form-group pb-2" id="lists">
                <label for="lists" class="form-label">Lists:</label>
                {% for status in all_statuses %}
                    {% if status %}
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="list-{{ forloop.counter }}" name="l-{{ forloop.counter }}" {% if forloop.counter in statuses %}checked{% endif %}>
                                <label class="form-check-label" for="list-{{ forloop.counter }}">{{ status }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="time-range" class="form-label">Time to guess</label>
                <input type="range" class="form-range" id="time-range" min="0" max="14" value="10" step="1">
                <div id="time-range-out-div">
                    <output id="time-range-out">10</output> s
                </div>
            </div>

             <div class="form-group">
               <label for="user" class="form-label">MAL usernames:</label>
                 {% for user in users %}
                     {% include 'quiz/username.html' with user=user %}
                 {% endfor %}
                <button id="addUserBtn" class="btn btn-outline-success w-100 mt-1" type="button" onclick="addUser()">Add a MAL user</button>
             </div>

            <input type="hidden" name="default" value="no">
            <button class="btn btn-outline-primary w-100 mt-2" type="submit">Play!</button>
            </form>
        </div>

        <div class="col-8 text-center screen-size">
            <video id="player" preload="auto">
                <source src="{{ theme.url }}" type="video/webm">
            </video>

            <div id="info">
                <span id="count">Loading…</span>
                <div id="details">
                    {{ theme.metadata.album }} {{ theme.metadata.themetype }}<br>{{ theme.metadata.title }}<br>
                    {{ artists }}<br>
                    <button class="btn btn-primary" onclick='location.reload()'>Next</button><br>
                </div>
            </div>
        </div>

        <div class="col-2 text-left ps-4 pe-4" id="results-list">
            <h5>Scoreboard</h5>
            <div id="results-div">
            </div>

            <div class="btn-group w-100 ps-2 pe-2">
                <button id="addPlayerBtn" class="btn btn-outline-success" type="button" onclick="addPlayer()">Add a player</button>
                <button id="clearPlayerBtn" class="btn btn-outline-danger" type="button" onclick="clearPlayer()">Clear the board</button>
            </div>

            <img class="w-100 mt-4" src="{% static 'quiz/rem-ram.gif' %}" alt="Rem/Ram" id="remram">
        </div>
    </div>
</main>
<footer class="bg-light text-center">
    Made with <3 by <a href="https://prem.moe">prem.moe</a>. Hugs to <a href="https://animethemes.moe">animethemes.moe</a> team and <a href="https://github.com/thesadru/animethemes-dl">thesadru</a>.
</footer>

{% include 'quiz/results_template.html' %}

<template id="username-template">{% include 'quiz/username.html' with user="" %}</template>
</body>
</html>