{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'quiz/favicon.ico' %}"/>


    <meta charset="UTF-8">
    <title>quiz.moe</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'quiz/main.js' %}"></script>

    <link rel="stylesheet" href="{% static 'quiz/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Anime Quiz</a>

    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="mailto:quiz@quiz.moe">Suggestions?</a>
       </li>
    </ul>
</nav>

<main class="container">
    <div class="row">
        <div class="col-2">
            Settings

            <form id="settings">
            <label for="types">Types:</label>
            <div class="form-group" id="types">

                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="type-openings" name="t-op" {% if openings %}checked{% endif %}>
                        <label class="form-check-label" for="type-openings">Openings</label>
                        </div>

                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="type-endings" name="t-ed" {% if endings %}checked{% endif %}>
                        <label class="form-check-label" for="type-endings">Endings</label>
                        </div>

            </div>

            <label for="lists">Lists:</label>
            <div class="form-group" id="lists">
                {% for status in all_statuses %}
                    {% if status %}
                        <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="list-{{ forloop.counter }}" name="l-{{ forloop.counter }}" {% if forloop.counter in statuses %}checked{% endif %}>
                                <label class="form-check-label" for="list-{{ forloop.counter }}">{{ status }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <label for="misc">Misc:</label>
            <div class="form-group" id="misc">
                <div>
                    <label for="time-range" class="form-label">Time to guess</label>
                    <input type="range" class="form-range" id="time-range" name="time" min="0" max="14" value="10" step="1">
                    <div id="time-range-out-div">
                        <output id="time-range-out">10</output> s
                    </div>
                </div>
            </div>

             <div class="form-group">
               <label for="user">Name:</label>
                 {% for user in users %}
                     <div class="input-group">
                        <input type="text" class="form-control user-field" id="user" name="user" value="{{ user }}" required>
                        <button class="btn" type="button"
                            onclick="removeUser(this)">X</button>
                     </div>
                 {% endfor %}
                <button id="addUserBtn" class="btn" type="button" onclick="addUser()">+</button>
             </div>

            <input type="hidden" name="default" value="no">
            <button class="btn" type="submit">Play!</button>
            </form>
        </div>

        <div class="col-8 text-center">
            <video id="player" preload="auto">
                <source src="{{ theme.url }}" type="video/webm">
            </video>

            <div id="info">
                <span id="count">Loading…</span>
                <div id="details">
                    {{ theme.metadata.album }} {{ theme.metadata.themetype }}<br>{{ theme.metadata.title }}<br>
                    {{ artists }}<br>
                    <button onclick='location.reload()'>Next</button><br>
                </div>
            </div>
        </div>

        <div class="col-2 text-left" id="results-list">
            <label for="results">Results</label>
            <div id="results-div">

            </div>
            <button id="addPlayerBtn" class="btn" type="button" onclick="addPlayer(this)">+</button>
            <button id="clearPlayerBtn" class="btn" type="button" onclick="clearPlayer(this)">Clear</button>
        </div>
    </div>
</main>
<footer class="bg-light text-center">
    Made with <3 by <a href="https://prem.moe">prem.moe</a>. Hugs to <a href="https://animethemes.moe">animethemes.moe</a> team and <a href="https://github.com/thesadru/animethemes-dl">thesadru</a>.
</footer>

<img class="icon" src="{% static 'quiz/rem-ram.gif' %}" alt="Rem/Ram" id="remram">

{% include 'quiz/results_template.html' %}
</body>
</html>