#count {
    font-size: 2em;
    font-weight: bold;
}

#details {
    font-size: 2em;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details > button {
    font-size: 1em;
}

#player {
    visibility: hidden;
    width: 100%;
    max-height: calc(100vh - 23em);
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 1em;
}

#time-range-out-div {
    text-align: center;
    margin-top: -0.8em;
}

.screen-size {
    height: 70vh;
}
